extends layout

block content
  h1= title
  h3 Relay Lamp
  button#btnOn ON
  button#btnOff OFF
  br
  br
  h3 Relay Fan
  button#btnOnFan ON
  button#btnOffFan OFF
  br
  br
  h3 Relay Spray
  button#btnOnSpray ON
  button#btnOffSpray OFF
  br
  br
  h3 Relay Exhaust
  button#btnOnExhaust ON
  button#btnOffExhaust OFF
  br
  br
  h3 Start Sensor
  button#btnOnSerial ON
  button#btnOffSerial OFF
  br
  p#pesan

  //p= datasensor

  script(src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")
  script.
   var pesan = document.getElementById("pesan");
   var btnOn = document.getElementById("btnOn");
   var btnOff = document.getElementById("btnOff");
   var btnOnFan = document.getElementById("btnOnFan");
   var btnOffFan = document.getElementById("btnOffFan");
   var btnOnSpray = document.getElementById("btnOnSpray");
   var btnOffSpray = document.getElementById("btnOffSpray");
   var btnOnExhaust = document.getElementById("btnOnExhaust");
   var btnOffExhaust = document.getElementById("btnOffExhaust");
   var btnOnSerial = document.getElementById("btnOnSerial");
   var btnOffSerial = document.getElementById("btnOffSerial");

   //var io = io.connect("https://control-led.herokuapp.com/");
   var io = io.connect('http://localhost:3038/')

   btnOn.addEventListener("click", function(){
    io.emit("relay1", {status: true});
   });

   btnOff.addEventListener("click", function(){
    io.emit("relay1", {status: false});
   });

   btnOnFan.addEventListener("click", function(){
    io.emit("relay2", {status: true});
   });

   btnOffFan.addEventListener("click", function(){
    io.emit("relay2", {status: false});
   });

   btnOnSpray.addEventListener("click", function(){
    io.emit("relay3", {status: true});
   });

   btnOffSpray.addEventListener("click", function(){
    io.emit("relay3", {status: false});
   });

   btnOnExhaust.addEventListener("click", function(){
    io.emit("relay4", {status: true});
   });

   btnOffExhaust.addEventListener("click", function(){
    io.emit("relay4", {status: false});
   });

   btnOnSerial.addEventListener("click", function(){
    io.emit("readsensor", {status: true});
   });

   btnOffSerial.addEventListener("click", function(){
    io.emit("readsensor", {status: false});
   });

   io.on("relay1", function(data){
    pesan.innerHTML = data.status;
   });

   io.on("relay2", function(data){
    pesan.innerHTML = data.status;
   })

   io.on("relay3", function(data){
    pesan.innerHTML = data.status;
   })

   io.on("relay4", function(data){
    pesan.innerHTML = data.status;
   })

   io.on("readsensor", function(data){
    pesan.innerHTML = data.status;
   })